<%- include("partials/header") -%>



    <div class="container-fluid" id="list-section">

        <div class="row">
            <div class="col-lg-4">

                <!-- athena todolist -->
                <div class="card" id="athenaCard">
                    <div class="list-icon-holder" style="background-color: #f6b85b;">

                        <img class="list-athena-logo" src="img/imageedit-5-3670121336-2.png" />
                    </div>
                    <div>
                        <% tasks.forEach(function(task) { %>
                            <form action="/increaseProgressAndDelete" method="post">
                                <li id="task">
                                    <input type="checkbox" name="checkbox" value="<%=task._id%>"
                                        onChange="this.form.submit()">
                                    <%= task.name %>
                                </li>
                            </form>
                            <% } )%>
                    </div>

                    <div class="add-task">
                        <form  autocomplete="off" action="/" method="post">
                            <input type="text" placeholder="new challenge" name="newItem">
                            <button type="text">+</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- ares todolist -->

            <div class="col-lg-4">
                <div class="card">
                    <div class="list-icon-holder" style="background-color: #ee4b4f;">

                        <img class="list-ares-logo" src="img/image-6.png" />
                    </div>
                    <div>
                        <% tasks2.forEach(function(task2) { %>
                            <form action="/increaseProgressAndDelete2" method="post">
                                <li id="task">
                                    <input type="checkbox" name="checkbox2" value="<%=task2._id%>"
                                        onChange="this.form.submit()">
                                    <%= task2.name %>
                                </li>
                            </form>
                            <% } )%>
                    </div>

                    <div class="add-task">
                        <form autocomplete="off"  action="/secondList" method="post">
                            <input   type="text" placeholder="new challenge" name="newItem2">
                            <button type="text">+</button>
                        </form>

                    </div>
                </div>
            </div>

            <!-- aphrodite todolist -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="list-icon-holder" style="background-color: #e9669f;">

                        <img class="list-aphrodite-logo" src="img/imageedit-7-6179518604-2.png" />
                    </div>
                    <div>
                        <% tasks3.forEach(function(task3) { %>
                            <form action="/increaseProgressAndDelete3" method="post">
                                <li id="task">
                                    <input type="checkbox" name="checkbox3" value="<%=task3._id%>"
                                        onChange="this.form.submit()">
                                    <%= task3.name %>
                                </li>
                            </form>
                            <% } )%>
                    </div>

                    <div class="add-task">
                        <form  autocomplete="off" action="/thirdList" method="post">
                            <input type="text" placeholder="new challenge" name="newItem3">
                            <button type="text">+</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </div>


    </body>

    </html>