<%- include("partials/header") -%>


    <div class="container-fluid" style="padding: 0;">
        <div class="container-fluid" style="background-color: antiquewhite; padding: 0;">
            <div class="sections-container">
                <progress id="progressBar" value="<%= barValue %>" max="100"></progress>
                <div>
                    <h1>
                        <%= levelDisplay %>
                    </h1>
                </div>
            </div>

        </div>

        <!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3" id="academia-tasks" style="background-color: aqua;">

        </div>

    </div>

</div> -->
        <div class="card">
            <ul>
                <li>slay the mythical beast</li>

                <% for(i=0; i<tasks.length; i++){ %>
                    <li>
                        <%= tasks[i] %>


                            <form action="/increaseProgress" method="post" id="myForm">

                                <button type="submit">done</button>
                            </form>

                    </li>


                    <% } %>


            </ul>
            <div class="add-task">
                <form action="" method="post">
                    <input type="text" placeholder="add your task" name="taskTest">
                    <button type="text">+</button>
                </form>
            </div>
        </div>


        <%- include("partials/footer") -%>